<html> 
    <head>  
         <!--pull boewr installed resources-->
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">

        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    </head>
    
    <body>  
    
        <div>
            <%=message%>
            <h2><%=error.status%></h2>
        </div>
        
        <div>
            <%=error%>
        </div>
        
        <div>
            <%=error.stack%>
        </div>
        
        
    </body>
</html>

